.address-bar-container {
  flex-grow: 1;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.address-bar {
  position: relative; /* Needed for child icon positioning */
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 20px;
  height: 36px;
  padding: 0 12px;
  flex-grow: 1;
  border: 1px solid #dcdcdc;
}

.address-bar:hover {
  border-color: #8ab4f8;
}

.address-bar input {
  background: transparent;
  border: none;
  color: #000000;
  flex-grow: 1;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  margin: 0 8px;
}

.address-bar .icon {
  color: #5f6368; /* Icon color */
  display: flex;
  align-items: center;
}
